body {
  font-family: "Open Sans", sans-serif !important;
}

.markdown-section tr:nth-child(2n) {
  background-color: #ad25a2;
}

.col-lg-3 p img {
  border-radius: 50% !important;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #9e20b8;
  width: 110px;
  height: 110px;
  min-width: 110px;
  min-height: 110px;
  text-align: center;
  align-items: center;
}

.col-lg-3 p {
  text-align: center;
}

.fw-normal {
  text-align: center;
  color: #c8c8c8 !important;
}

.github-corner svg {
  fill: #9b53a5 !important;
}

section.cover .cover-main>p:last-child a:hover {
  color: #a140b9 !important;
}

section.cover p img {
  max-width: 55%;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  color: #792e8b;
}

.sidebar>h1 a img {
  max-width: 70%;
}

.markdown-section iframe {
  border: none;
}

.contraste p img {
  width: 200px;
}